<script type="text/template" id="widget-well-template">
  <div class="span2">
    <div class="well" id="widget-well">
      <div style="border-bottom: 1px solid #EEE; padding: 3px 5px;">
        <a class="close">&times;</a>
        <h4>Widgets available</h4>
      </div><!-- / -->
      <ul class="thumbnails widgets">
        <li>
          <div class="thumbnail widget draggable">
            <img src="http://placehold.it/160x120" alt="">
            <h5>World Widget</h5>
          </div>
        </li>
      </ul>
    </div>
   </div>
</script>
