{% extends "admin/base.html" %}

{% block title %}
Realtime Log Monitor
{% endblock title %}

{% block extra_head %}
<script type="text/template" id="gauge-template">    
  <div class="span2 well" id="gauge-<%= id %>">
    <a class="close">&times;</a>
  </div>

</script>

<script type="text/template" id="gauge-timeline-template">    
  <div class="span2 well" id="gauge-<%= id %>">
    <a class="close">&times;</a>
    <ul class="nav nav-tabs nav-stacked">
	<% _.each(data, function(d) {  %>
	  <li><%= d %></li>
	<% }); %>
    </ul>
  </div>
</script>
{% endblock extra_head %}

{% block main %}
<div class="well span4">
  <h3 id="js-loading">Loading...</h3>  
</div><!-- / -->

{% endblock main %}

